# Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.

In [4]:
import pandas as pd
import numpy as np

df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

### Find the correct count for the 2008 dataset.

In [5]:
# number of samples
df_08.shape

(2404, 18)

In [9]:
# duplicated rows
df_08[df_08.duplicated(keep='first')].count()

Model                   25
Displ                   25
Cyl                      6
Trans                    6
Drive                    6
Fuel                    25
Sales Area              25
Stnd                    25
Underhood ID            25
Veh Class               25
Air Pollution Score     25
FE Calc Appr             6
City MPG                 6
Hwy MPG                  6
Cmb MPG                  6
Unadj Cmb MPG            6
Greenhouse Gas Score     6
SmartWay                25
dtype: int64

In [29]:
# rows with missing data
df_08[df_08.isnull().any(axis=1)].count()

Model                   199
Displ                   199
Cyl                       0
Trans                     0
Drive                   106
Fuel                    199
Sales Area              199
Stnd                    199
Underhood ID            199
Veh Class               199
Air Pollution Score     199
FE Calc Appr              0
City MPG                  0
Hwy MPG                   0
Cmb MPG                   0
Unadj Cmb MPG             0
Greenhouse Gas Score      0
SmartWay                199
dtype: int64

### Find the correct count for the 2018 dataset.

In [30]:
# number of samples
df_18.shape

(1611, 18)

In [32]:
# duplicated rows
df_18[df_18.duplicated(keep = 'first')].count()

Model                   0
Displ                   0
Cyl                     0
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

In [34]:
# rows with missing data
df_18[df_18.isnull().any(axis=1)].count()

Model                   2
Displ                   0
Cyl                     0
Trans                   2
Drive                   2
Fuel                    2
Cert Region             2
Stnd                    2
Stnd Description        2
Underhood ID            2
Veh Class               2
Air Pollution Score     2
City MPG                2
Hwy MPG                 2
Cmb MPG                 2
Greenhouse Gas Score    2
SmartWay                2
Comb CO2                2
dtype: int64

In [46]:
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [47]:
df_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [60]:
# chec unique values
df_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [67]:
df_08.groupby(['Fuel']).mean().Displ

Fuel
CNG            1.800000
Gasoline       3.712425
diesel         4.527273
ethanol        3.300000
ethanol/gas    4.865278
Name: Displ, dtype: float64

In [68]:
df_18.groupby(['Fuel']).mean().Displ

Fuel
Diesel                  2.042105
Electricity                  NaN
Ethanol/Gas             4.225455
Gasoline                3.057373
Gasoline/Electricity    1.875000
Name: Displ, dtype: float64

## QUESTION 3 OF 4
Which of the following features need to be converted to floats from strings?